body {
    margin:0px;
}

#header {
    color:white;
    font-size:50px;
    padding:10px;
    background-color: darkblue;
    text-align:center;
}

input {
    margin:5px;
    padding:10px;
    font-size:25px;
}

a {
    color: inherit;
    text-decoration:none;
}

.button {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 10px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

#heading1 {
    color:#FFA500;
    font-size:25px;
    padding:25px;
    text-align:center;
}

#form {
    width:400px;
    padding:25px;
    border: 2px solid #FFA500;
    background-color:white;
    margin-top:10px
}